$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;

$white: #ffffff;

$shadow-light: rgba(0, 0, 0, 0.11);
$shadow-dark: rgba(0, 0, 0, 0.44);

$btn-color: #4f4f4f;
$light-grey: #f7f7f7;
$dark-grey: #eee;
$grey: #999;
$dark-grey-1: #333;

$logo-green: #9dff96;
$logo-white: #f4fff4;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$default-size: 1.6rem;
